In [17]:
import pandas as pd

## This is a practice

In [14]:
print("Hello!")

Hello!

## HEADING

kdjfksdjflskflksdjfldsl

In [15]:
print(2+2)

4

this is a commetn

In [10]:
'''DFdjfljdsfl'''
#ksdhfkdsj

'DFdjfljdsfl'

In [11]:
i = 1

In [12]:
print(i)

1

In [13]:
for i in range(0, 100):
    i+= 1

print(i)

100

In [18]:
data = pd.DataFrame()

In [35]:
col1 = ['a','b','c','d']
col2 = ['x','y','z','q']
col3 = [101,44,33,233]
data['Col1'] = col1
data['MYCOL'] = col2
data['nums']= col3

greaterThan100 = data.loc[data['nums'] > 40]
greaterThan100.head()

  Col1 MYCOL  nums
0    a     x   101
1    b     y    44
3    d     q   233