# get_frequently_mutated Final

In [1]:
import cptac
en = cptac.Endometrial()
import pandas as pd
import numpy as np

Welcome to cptac, a python package for disseminating cancer
proteogenomics data. To view available datasets, enter
'cptac.list_data()'. Extensive tutorials are available at
https://github.com/PayneLab/cptac/tree/master/doc

******
Version: 0.4.5
******
Checking that data files are up-to-date...
100% [..................................................................................] 649 / 649
Data check complete.
endometrial data version: 2.1

Loading acetylproteomics data...
Loading clinical data...
Loading CNA data...
Loading definitions data...
Loading miRNA data...
Loading phosphoproteomics_gene data...
Loading phosphoproteomics_site data...
Loading proteomics data...
Loading somatic data...
Loading somatic_binary data...
Loading transcriptomics_circular data...
Loading transcriptomics_linear data...

 ******PLEASE READ******
WARNING: This data is under a publication embargo until July 1, 2019.
CPTAC is a community resource project and data are made available
rapidly after generation for community research use. The embargo
allows exploring and utilizing the data, but analysis may not be
published until July 1, 2019. Please see
https://proteomics.cancer.gov/data-portal/about/data-use-agreement or
enter cptac.embargo() to open the webpage for more details.

In [3]:
def get_frequently_mutated(cancer_type, cutoff=.1):  
    """
    take cancer object and find the frequently 
    mutated genes in total tumors compared to the cutoff.
        
        Parameters:
        cancer_type (object): object of cancer class from cptac module 
        cutoff (float): used as comparison to determine status of gene mutation frequency
        
        Returns:
        freq_mutated_df (pd.DataFrame): DataFrame of frequently mutated genes passing the cutoff
            and Total_Mutated (mutated genes / total tumors), percent Truncated, and percent Missence
        
        There are many types of mutations catagorized into the columns Truncated and Missence. 
        The Truncated column includes: Frame_Shift_Del, Frame_Shift_Ins, Splice_Site, Nonsense_Mutation, Nonstop_Mutation
        The Missence column includes: In_Frame_Del, In_Frame_Ins, Missense_Mutation
        These columns count multiple mutations of one gene in the same sample, so percentages in the last two columns may 
        exceed the Total_Mutated column(which only counts if the gene was mutated once)"""    
    
    # get data frames
    somatic_mutations = cancer_type.get_mutations()
    sample_status_map = cancer_type._get_sample_status_map()
    merged_mutations = somatic_mutations.join(sample_status_map, how="left") 
    """
    # standardize mutation names 
    if cancer_type.get_tumor_type() == 'Colon':
        mutation_equivalents = {'frameshift substitution': 'Frame_Shift_Del' , 'frameshift deletion': 'Frame_Shift_Del', 
            'frameshift insertion': 'Frame_Shift_Ins', 'stopgain': 'Nonsense_Mutation ', 'stoploss':'Nonstop_Mutation',
            'nonsynonymous SNV': 'Missense_Mutation','nonframeshift insertion': 'In_Frame_Ins',
            'nonframeshift deletion': 'In_Frame_Del', 'nonframeshift substitution': 'Missense_Mutation'}
        merged_mutations = merged_mutations.replace(to_replace = mutation_equivalents)
    """  
    # get list of unique genes
    unique_genes = somatic_mutations['Gene'].unique()
    
    # get total tumors/patients
    sample_status_series = sample_status_map.value_counts()
    total_tumor_patients = sample_status_series[0]
        
    # find frequently mutated genes and their total mutated fraction. Create lists for frequently mutated genes and fraction.
    freq_mut = [] # .where, pandas already vectorized, faster to use their function than a for loop
    total_fraction_mutated = []
    for gene in unique_genes:
        gene_mutated = merged_mutations.loc[merged_mutations['Gene'] == gene]
        gene_mutated = gene_mutated.index.unique()
        num_gene_mutated = len(gene_mutated)
        fraction = (num_gene_mutated / total_tumor_patients)
        if fraction > cutoff:
            freq_mut.append(gene)
            total_fraction_mutated.append(fraction)
    
    # find truncated fraction
    list_missence_mut = ['In_Frame_Del', 'In_Frame_Ins', 'Mutation']
    
    truncated = []
    missence = []
    for gene in freq_mut:
        gene_mut = merged_mutations.loc[merged_mutations['Gene'] == gene] #possibly change var name
        
        truncated_df = gene_mut.loc[(gene_mut['Mutation'] not in list_missence_mut)]
        samples_trunc = truncated_df.index.unique()
        num_trunc_mut = len(samples_trunc)
        fraction_trunc = (num_trunc_mut / total_tumor_patients)
        truncated.append(fraction_trunc)
        
        missence_mutations = gene_mutated.loc[(gene_mutated['Mutation'] in list_missence_mut)]
        samples_miss = missence_mutations.index.unique()
        num_miss_mut = len(samples_miss)
        fraction_miss = (num_miss_mut / total_tumor_patients)
        missence.append(fraction_miss)
        
        
    # create dataframe
    merged_lists = list(zip(freq_mut, total_fraction_mutated, truncated, missence))
    freq_mutated_df = pd.DataFrame(merged_lists, columns =['Gene', 'Fraction_Mutated', 'Truncation', 'Missence'])
    freq_mutated_df.name = 'frequently_mutated'
                   
    return freq_mutated_df

Test Endometrial

In [4]:
somatic_mutations = en.get_mutations()
somatic_mutations.head()
unique_genes = somatic_mutations['Gene'].unique()
#somatic_mutations.index.drop_duplicates()
list1 = ['A1CF', 'KRAS']
#n = list(map(lambda gene: (somatic_mutations.loc[somatic_mutations['Gene'] == gene]).index.unique(), unique_genes))
sorted_mut = somatic_mutations.sort_values(by='Gene')
print(sorted_mut.head())
len(somatic_mutations.loc[somatic_mutations['Gene'] == 'A1CF'].index.unique())
n = list(map(lambda gene: somatic_mutations.loc[somatic_mutations['Gene'] == gene].index.unique(), list1))
b = sorted_mut.groupby('Sample_ID').nunique()
b.drop('Location', axis = 1)

           Gene           Mutation  Location
Sample_ID
S055       A1BG  Missense_Mutation   p.E298K
S059       A1CF  Missense_Mutation   p.F487L
S059       A1CF  Missense_Mutation   p.S236Y
S070        A2M  Missense_Mutation  p.G1247S
S059        A2M  Missense_Mutation   p.K209N

           Gene  Mutation
Sample_ID
S001        754         6
S002        340         7
S003         30         6
S005         40         7
S006         51         5
S007         32         6
S008         40         6
S009         55         6
S010        483         7
S011         30         4
S012       1133         6
S014        717         8
S016         86         6
S017        513         7
S018         20         3
S019         34         4
S020         48         5
S021         39         5
S022       6929         6
S023       2703         5
S024         61         5
S025         48         5
S026         35         5
S027        786         7
S028         60         5
S029         53         6
S030        922         7
S031         46         4
S032        307         7
S033         38         6
...         ...       ...
S073        406         6
S074         28         5
S075         35         4
S076         18         3
S077        345         7
S078        534         7
S079         62         6
S080         25         5
S081        247         7
S082         47         5
S083         46         5
S084         58         3
S085        372         6
S086         61         6
S087         62         4
S088        605         6
S090         42         5
S091        312         6
S092        502         8
S093         28         4
S094        507         8
S095         22         3
S096         37         4
S097         85         5
S098        211         6
S099       2458         7
S100         24         4
S101         27         5
S102         51         5
S103         30         3

[95 rows x 2 columns]

In [5]:
somatic_mutations = en.get_mutations()
#move samples to col so can be counted
df = somatic_mutations.reset_index()

 # group by gene and count unique samples
genes_df = df.groupby(['Gene']).nunique()

#format
genes_df = genes_df.rename(columns={"Sample_ID": "Unique_Samples_Mut"})
genes_df = genes_df.drop(['Location','Gene', 'Mutation'], axis = 1)

#test
gene = 'ARID1A'
c = genes_df.loc[gene:gene,:]

genes_df = genes_df.apply(lambda x: x / 95)

In [27]:
somatic_mutations = en.get_mutations()
#move samples to col so can be counted
df = somatic_mutations.reset_index()

 # group by gene and count unique samples
genes_df = df.groupby(['Gene']).nunique()

#format
genes_df = genes_df.rename(columns={"Sample_ID": "Unique_Samples_Mut"})
genes_df = genes_df.drop(['Location','Gene', 'Mutation'], axis = 1)

#test
gene = 'ARID1A'
c = genes_df.loc[gene:gene,:]

genes_df = genes_df.apply(lambda x: x / 95)
filtered = genes_df.where(lambda x: x > .15)
filtered = filtered.dropna()
#filtered = filtered.reset_index()
filtered

         Unique_Samples_Mut
Gene
AHNAK              0.157895
ARID1A             0.452632
CCDC168            0.168421
CTCF               0.284211
CTNNB1             0.305263
DNAH17             0.157895
DOCK3              0.200000
FBXW7              0.189474
HERC2              0.178947
HUWE1              0.157895
INPPL1             0.200000
JAK1               0.168421
KMT2B              0.242105
KMT2D              0.178947
KRAS               0.326316
LMAN1              0.157895
MUC16              0.189474
NSD1               0.168421
OBSCN              0.157895
PCLO               0.168421
PIK3CA             0.494737
PIK3R1             0.389474
PTEN               0.789474
RBM27              0.168421
RPL22              0.168421
SCAF4              0.168421
SYNE1              0.168421
TP53               0.221053
ZFHX3              0.221053
ZFHX4              0.200000
ZNF469             0.157895

In [61]:
somatic_mutations = en.get_mutations()
#move 'Sample_ID' from index to col 
df = somatic_mutations.reset_index()

 # group by gene and count unique samples
genes_df = df.groupby(['Gene']).nunique()

#format
genes_df = genes_df.rename(columns={"Sample_ID": "Unique_Samples_Mut"})
genes_df = genes_df.drop(['Location','Gene', 'Mutation'], axis = 1)

genes_df = genes_df.apply(lambda x: x / 95)
filtered = genes_df.where(lambda x: x > .15)
filtered_gene_df = filtered.dropna()

#create two categories in Mutation column
missence_mut = {'In_Frame_Del': 'M', 'In_Frame_Ins': 'M', 'Missense_Mutation': 'M'}
truncation_mut = {'Frame_Shift_Del': 'T','Nonsense_Mutation': 'T', 'Splice_Site': 'T', 'Frame_Shift_Ins': 'T',
 'Nonstop_Mutation':'T'}
df = df.replace(missence_mut)
df = df.replace(truncation_mut)

#print(df['Mutation'].unique())

# group mutation categories
miss = df.loc[df['Mutation'] == 'M']
trunc = df.loc[df['Mutation'] == 'T']
#print(trunc['Mutation'].unique())


# group by gene and count unique samples for both categories
miss_df = miss.groupby(['Gene']).nunique()
trunc_df = trunc.groupby(['Gene']).nunique()

#format
miss_df = miss_df.rename(columns={"Sample_ID": "Missence_Mut"})
miss_df = miss_df.drop(['Gene', 'Mutation', 'Location'], axis = 1)

trunc_df = trunc_df.rename(columns={"Sample_ID": "Truncation_Mut"})
trunc_df = trunc_df.drop(['Gene', 'Mutation', 'Location'], axis = 1)

#join miss and trunc and change nan to 0, then divide by total tumors
mut = miss_df.join(trunc_df).fillna(0)
missence_and_truncation_df = mut.apply(lambda x: x / 95)


#join data frames 
freq_mut = filtered_gene_df.join(missence_and_truncation_df)




freq_mut

         Unique_Samples_Mut  Missence_Mut  Truncation_Mut
Gene
AHNAK              0.157895      0.126316        0.042105
ARID1A             0.452632      0.136842        0.400000
CCDC168            0.168421      0.115789        0.115789
CTCF               0.284211      0.094737        0.242105
CTNNB1             0.305263      0.305263        0.000000
DNAH17             0.157895      0.136842        0.031579
DOCK3              0.200000      0.115789        0.157895
FBXW7              0.189474      0.157895        0.042105
HERC2              0.178947      0.157895        0.063158
HUWE1              0.157895      0.157895        0.031579
INPPL1             0.200000      0.021053        0.189474
JAK1               0.168421      0.052632        0.126316
KMT2B              0.242105      0.115789        0.126316
KMT2D              0.178947      0.105263        0.084211
KRAS               0.326316      0.326316        0.000000
LMAN1              0.157895      0.010526        0.147368
MUC16              0.189474      0.178947        0.052632
NSD1               0.168421      0.094737        0.115789
OBSCN              0.157895      0.157895        0.042105
PCLO               0.168421      0.115789        0.073684
PIK3CA             0.494737      0.484211        0.010526
PIK3R1             0.389474      0.231579        0.189474
PTEN               0.789474      0.463158        0.568421
RBM27              0.168421      0.052632        0.126316
RPL22              0.168421      0.010526        0.157895
SCAF4              0.168421      0.063158        0.126316
SYNE1              0.168421      0.147368        0.063158
TP53               0.221053      0.157895        0.073684
ZFHX3              0.221053      0.084211        0.168421
ZFHX4              0.200000      0.147368        0.094737
ZNF469             0.157895      0.105263        0.063158

In [32]:
somatic_mutations = en.get_mutations()
#move samples to col so can be counted
df = somatic_mutations.reset_index()

unique_genes = ['PTEN']
# 2 VALUES FOR MUT
#missence_equivalents = 

 # group by gene and count unique samples
genes_df = df.groupby(['Mutation']).nunique()
            
mapCount = list(map(lambda gene: df.loc[df['Gene'] == gene].count(), unique_genes))

#.replace(to_replace = mutation_equivalents)

#result = .merge(left, right, how='left', on=['Gene'])
  
#genes_df.head()
for e in mapCount:
    print(e)

KeyError: 'PTEN'

In [31]:
g = somatic_mutations.groupby('Gene').groups
g
g2 = g['PTEN'].value_counts().count()
#.size()
g2
g['PTEN']

Index(['S001', 'S001', 'S002', 'S003', 'S005', 'S007', 'S007', 'S008', 'S008',
       'S010',
       ...
       'S092', 'S092', 'S093', 'S094', 'S095', 'S097', 'S098', 'S098', 'S099',
       'S099'],
      dtype='object', name='Sample_ID', length=126)

In [46]:

df = pd.DataFrame([('bird', 'Falconiformes', 389.0),
                       ('bird', 'Psittaciformes', 24.0),
                       ('mammal', 'Carnivora', 80.2),
                       ('mammal', 'Primates', np.nan),
                       ('mammal', 'Carnivora', 58)],
                      index=['falcon', 'parrot', 'lion', 'monkey', 'leopard'],
                      columns=('class', 'order', 'max_speed'))
df

          class           order  max_speed
falcon     bird   Falconiformes      389.0
parrot     bird  Psittaciformes       24.0
lion     mammal       Carnivora       80.2
monkey   mammal        Primates        NaN
leopard  mammal       Carnivora       58.0

In [55]:
d = df.groupby(['class'])
d.head(2)

         class           order  max_speed
falcon    bird   Falconiformes      389.0
parrot    bird  Psittaciformes       24.0
lion    mammal       Carnivora       80.2
monkey  mammal        Primates        NaN

In [15]:
endo_freq_mutated_df = get_frequently_mutated(en, .25)

NameError: name 'my_list' is not defined

In [ ]:
endo_freq_mutated_df

Test Colon

In [ ]:
colon_freq_mutated_df = get_frequently_mutated("colon")

You have loaded the cptac colon dataset. To view available dataframes,
use cptac.colon.list_data(). To view available functions for accessing
and manipulating the dataframes, use cptac.colon.list_api().
colon data version: Most recent release

Loading cptac colon data:
Loading clinical data...
Loading miRNA data...
Loading mutation data...
Loading mutation_binary data...
Loading phosphoproteomics_normal data...
Loading phosphoproteomics_tumor data...
Loading proteomics_normal data...
Loading proteomics_tumor data...
Loading transcriptomics data...

In [ ]:
colon_freq_mutated_df

Test Ovarian

In [4]:
ovarian_freq_mutated_df = get_frequently_mutated("ovarian")

Welcome to the cptac data service package. Available datasets may be
viewed using cptac.list_data(). In order to access a specific data
set, import a cptac subfolder using either 'import cptac.dataset' or
'from cptac import dataset'.
******
Version: 0.4.1
******
You have loaded the cptac ovarian dataset. To view available
dataframes, use cptac.ovarian.list_data(). To view available functions
for accessing and manipulating the dataframes, use
cptac.ovarian.list_api().
ovarian data version: Most recent release

Loading cptac ovarian data:
Loading clinical data...
Loading cnv data...
Loading phosphoproteomics data...
Loading proteomics data...
Loading somatic_38 data...
Loading transcriptomics data...
Loading treatment data...

 ******PLEASE READ******
WARNING: This data is under a publication embargo until June 1, 2019.
CPTAC is a community resource project and data are made available
rapidly after generation for community research use. The embargo
allows exploring and utilizing the data, but the data may not be in a
publication until June 1, 2019. Please see
https://proteomics.cancer.gov/data-portal/about/data-use-agreement or
enter embargo() to open the webpage for more details.

In [5]:
ovarian_freq_mutated_df

      Gene  Fraction_Mutated  Truncation  Missence
0      TTN          0.279279    0.135135  0.198198
1     TP53          0.693694    0.243243  0.450450
2    MUC16          0.144144    0.054054  0.108108
3   MT-CO1          0.117117    0.027027  0.090090
4   MT-ND5          0.144144    0.081081  0.063063
5    FCGBP          0.108108    0.054054  0.063063
6    MUC5B          0.108108    0.027027  0.081081
7     MUC4          0.306306    0.135135  0.234234
8    MUC17          0.126126    0.036036  0.108108
9    NCOR2          0.108108    0.081081  0.027027
10   MUC12          0.108108    0.036036  0.108108