# get_frequently_mutated Final

In [3]:
import cptac
#en = cptac.Endometrial()
co = cptac.Colon()
#ov = cptac.Ovarian()

import pandas as pd
import numpy as np

In [4]:
def get_frequently_mutated(cancer_object, cutoff = 0.1):  
    """
    Takes a cancer object and find the frequently 
    mutated genes (in the tumor samples) compared to the cutoff.

    Parameters:
    cancer_object (object): cancer type from cptac module 
    cutoff (float): used as a comparison to determine the 
                    status of gene mutation frequency

    Returns:
    freq_mutated_df (pd.DataFrame): DataFrame of frequently 
        mutated genes passing the cutoff. Columns contain the 
        fractions of total unique mutations,missence type 
        mutations, and truncation type mutations per gene.
    
    The Missence_Mut column includes: 
        In_Frame_Del, In_Frame_Ins, Missense_Mutation
   
    The Truncation_Mut column includes: 
        Frame_Shift_Del, Frame_Shift_Ins, Splice_Site, 
        Nonsense_Mutation, Nonstop_Mutation
        
    These columns count multiple mutations of one gene in the 
    same sample, so fractions in the last two columns may 
    exceed the Unique_Samples_Mut column which only counts if 
    the gene was mutated once per sample."""    
    
    # Get total tumors/patients
    omics_and_mutations = cancer_object.join_omics_to_mutations(
        mutations_genes = 'TP53', omics_df_name = 'proteomics', omics_genes = 'TP53')
    tumors = omics_and_mutations.loc[omics_and_mutations['Sample_Status'] == 'Tumor'] 
    total_tumor_samples = len(tumors)
    
    # Get mutations data frame
    somatic_mutations = cancer_object.get_mutations() 
    origin_df = somatic_mutations.reset_index() #prepare to count unique samples
    
    # Drop silent mutations for Ovarian dataset
    if cancer_object.get_cancer_type() == 'ovarian':
        origin_df = origin_df.loc[origin_df['Mutation'] != 'Silent']
        
    # Create two categories in Mutation column - 'M': Missence, 'T': Truncation
    if cancer_object.get_cancer_type() == 'colon':
        missence_truncation_groups = {'frameshift substitution': 'T', 
            'frameshift deletion': 'T', 'frameshift insertion': 'T', 
            'stopgain': 'T', 'stoploss': 'T', 'nonsynonymous SNV': 'M',
            'nonframeshift insertion': 'M','nonframeshift deletion': 'M', 
            'nonframeshift substitution': 'M'}
    else: 
        missence_truncation_groups = {'In_Frame_Del': 'M', 'In_Frame_Ins': 'M',
            'Missense_Mutation': 'M', 'Frame_Shift_Del': 'T','Nonsense_Mutation': 'T', 
            'Splice_Site': 'T', 'Frame_Shift_Ins': 'T','Nonstop_Mutation':'T'}
    mutations_replaced_M_T = origin_df.replace(missence_truncation_groups)
    
    # Find frequently mutated genes (total fraction > cutoff)
    # Step 1 - group by gene and count unique samples
    count_mutations = origin_df.groupby(['Gene']).nunique()
    # Step 2 - format
    count_mutations = count_mutations.rename(columns={"Sample_ID": "Unique_Samples_Mut"})
    count_mutations = count_mutations.drop(['Gene', 'Mutation','Location'], axis = 1)
    # Step 3 - filter using the cutoff and create fraction
    fraction_mutated = count_mutations.apply(lambda x: x / total_tumor_samples)
    fraction_greater_than_cutoff = fraction_mutated.where(lambda x: x > cutoff) #na used when false
    filtered_gene_df = fraction_greater_than_cutoff.dropna()
    
    # Create and join Missence column (following similar steps as seen above)
    miss = mutations_replaced_M_T.loc[mutations_replaced_M_T['Mutation'] == 'M']
    count_miss = miss.groupby(['Gene']).nunique()
    missence_df = count_miss.rename(columns={"Sample_ID": "Missence_Mut"})
    missence_df = missence_df.drop(['Gene', 'Mutation', 'Location'], axis = 1)
    fraction_missence = missence_df.apply(lambda x: x / total_tumor_samples)
    freq_mutated_df = filtered_gene_df.join(fraction_missence, how='left').fillna(0)
    
    
    # Create and join Truncation column (following similar steps as seen above)
    trunc = mutations_replaced_M_T.loc[mutations_replaced_M_T['Mutation'] == 'T']
    count_trunc = trunc.groupby(['Gene']).nunique()
    truncation_df = count_trunc.rename(columns={"Sample_ID": "Truncation_Mut"})
    truncation_df = truncation_df.drop(['Gene', 'Mutation', 'Location'], axis = 1)
    fraction_truncation = truncation_df.apply(lambda x: x / total_tumor_samples)
    freq_mutated_df = freq_mutated_df.join(fraction_truncation, how='left').fillna(0)

    return freq_mutated_df

In [10]:
df = get_frequently_mutated(co, .18)
df.reset_index()

       Gene  Unique_Samples_Mut  Missence_Mut  Truncation_Mut
0    ABCA13            0.195876      0.164948        0.103093
1    ACVR2A            0.257732      0.020619        0.257732
2    ADGRV1            0.195876      0.134021        0.092784
3    AHNAK2            0.216495      0.195876        0.030928
4       APC            0.845361      0.113402        0.824742
5      APOB            0.195876      0.175258        0.061856
6    ARID1A            0.237113      0.072165        0.185567
7      BRAF            0.185567      0.164948        0.030928
8     CASP5            0.195876      0.000000        0.195876
9   CCDC168            0.298969      0.195876        0.195876
10   COL5A1            0.216495      0.185567        0.061856
11    CSMD3            0.268041      0.226804        0.082474
12    DCHS2            0.195876      0.154639        0.072165
13      DMD            0.195876      0.154639        0.061856
14    DNAH3            0.195876      0.154639        0.051546
15    DNAH5            0.268041      0.216495        0.103093
16    DNHD1            0.185567      0.164948        0.041237
17    DOCK3            0.216495      0.082474        0.144330
18     FAT2            0.185567      0.154639        0.051546
19     FAT3            0.288660      0.268041        0.030928
20     FAT4            0.268041      0.257732        0.030928
21    FSIP2            0.226804      0.175258        0.092784
22    HELZ2            0.185567      0.144330        0.113402
23    HERC2            0.216495      0.175258        0.051546
24    HMCN1            0.237113      0.226804        0.030928
25    HSPG2            0.185567      0.154639        0.041237
26    HYDIN            0.185567      0.164948        0.041237
27    KMT2C            0.206186      0.154639        0.082474
28    KMT2D            0.195876      0.154639        0.134021
29     KRAS            0.360825      0.360825        0.000000
..      ...                 ...           ...             ...
35     NBEA            0.216495      0.195876        0.030928
36    NCOR2            0.247423      0.195876        0.051546
37    NRXN1            0.206186      0.144330        0.072165
38    OBSCN            0.298969      0.268041        0.072165
39     PCLO            0.247423      0.216495        0.103093
40   PIK3CA            0.247423      0.237113        0.010309
41     PKD1            0.185567      0.154639        0.041237
42     PLEC            0.237113      0.206186        0.041237
43    RNF43            0.185567      0.030928        0.175258
44    RPL22            0.195876      0.020619        0.185567
45     RYR1            0.257732      0.216495        0.051546
46     RYR2            0.216495      0.195876        0.072165
47     RYR3            0.195876      0.144330        0.061856
48     SACS            0.206186      0.123711        0.092784
49   SETD1B            0.195876      0.051546        0.185567
50   SLC4A3            0.206186      0.123711        0.123711
51     SOX9            0.195876      0.051546        0.144330
52     SPEG            0.206186      0.144330        0.072165
53     SSPO            0.216495      0.164948        0.082474
54    SYNE1            0.298969      0.278351        0.113402
55   TCF7L2            0.247423      0.113402        0.134021
56    TENM3            0.185567      0.123711        0.092784
57     TP53            0.577320      0.391753        0.216495
58    TRPS1            0.185567      0.154639        0.041237
59      TTN            0.618557      0.597938        0.206186
60     USF3            0.247423      0.154639        0.175258
61    ZDBF2            0.185567      0.123711        0.061856
62    ZFHX4            0.195876      0.175258        0.041237
63   ZNF292            0.185567      0.092784        0.103093
64   ZNF469            0.257732      0.185567        0.103093

[65 rows x 4 columns]

In [45]:
df = get_frequently_mutated(en, .2)
df

        Unique_Samples_Mut  Missence_Mut  Truncation_Mut
Gene
ARID1A            0.452632      0.136842        0.400000
CTCF              0.284211      0.094737        0.242105
CTNNB1            0.305263      0.305263        0.000000
KMT2B             0.242105      0.115789        0.126316
KRAS              0.326316      0.326316        0.000000
PIK3CA            0.494737      0.484211        0.010526
PIK3R1            0.389474      0.231579        0.189474
PTEN              0.789474      0.463158        0.568421
TP53              0.221053      0.157895        0.073684
ZFHX3             0.221053      0.084211        0.168421

In [46]:
df = get_frequently_mutated(ov, .2)
df

      Unique_Samples_Mut  Missence_Mut  Truncation_Mut
Gene
MUC4            0.325301      0.313253        0.012048
TP53            0.927711      0.602410        0.325301
TTN             0.301205      0.265060        0.084337

In [48]:
#test results
m = co.get_mutations()

#m = m.loc[m['Mutation'] != 'Silent']
gene = 'CASP5'
g = m.loc[m['Gene'] == gene]
#print(g)
print(len(g.index.unique()))

r = g.groupby('Mutation')

r.groups

19

{'frameshift deletion': Index(['S055', 'S055', 'S055', 'S055', 'S074', 'S074', 'S074', 'S080', 'S080',
        'S080', 'S081', 'S081'],
       dtype='object', name='Sample_ID'),
 'frameshift insertion': Index(['S031', 'S031', 'S031', 'S031'], dtype='object', name='Sample_ID'),
 'frameshift substitution': Index(['S006', 'S006', 'S006', 'S009', 'S009', 'S009', 'S009', 'S009', 'S009',
        'S014', 'S014', 'S014', 'S018', 'S018', 'S018', 'S018', 'S018', 'S018',
        'S023', 'S023', 'S023', 'S023', 'S023', 'S023', 'S023', 'S023', 'S028',
        'S028', 'S028', 'S028', 'S030', 'S030', 'S030', 'S033', 'S033', 'S033',
        'S033', 'S035', 'S035', 'S035', 'S035', 'S035', 'S052', 'S052', 'S052',
        'S052', 'S052', 'S052', 'S052', 'S052', 'S052', 'S052', 'S055', 'S055',
        'S055', 'S055', 'S064', 'S064', 'S064', 'S065', 'S065', 'S065', 'S065',
        'S065', 'S065', 'S065', 'S065', 'S074', 'S074', 'S074', 'S080', 'S080',
        'S080', 'S101', 'S101', 'S101', 'S108', 'S108', 'S108', 'S108', 'S108',
        'S108', 'S108', 'S108', 'S108', 'S108', 'S108'],
       dtype='object', name='Sample_ID'),
 'stopgain': Index(['S033', 'S033', 'S033', 'S033'], dtype='object', name='Sample_ID')}