In [1]:
import pandas as pd

In [9]:
d = {'PTEN': .79, 'PIK3CA': .49}

In [54]:
new = pd.DataFrame.from_dict(d.items())
new.columns = ['Gene','percent']
new

     Gene  percent
0    PTEN     0.79
1  PIK3CA     0.49

In [41]:
trunc = {'PTEN': .63, 'PIK3CA': .14}
t_df = pd.DataFrame.from_dict(trunc.items())
t_df.columns = ['Gene','percent']
t_df

     Gene  percent
0    PTEN     0.63
1  PIK3CA     0.14

In [42]:
 #pd.concat([new, t_df], axis=1, inner)

In [51]:
#newer = new.set_index('Gene')

In [53]:
#new = new.set_index('Gene')
#new2 = new.join(t_df.set_index('Gene'), on='Gene')

      0       1
0  PTEN  PIK3CA
1  0.79    0.49