In [1]:
import pandas as pd

In [76]:
d = {'PTEN': .79, 'PIK3CA': .49}

In [80]:
new = pd.DataFrame.from_dict(d.items())
new.columns = ['Gene','percent']
new

     Gene  percent
0    PTEN     0.79
1  PIK3CA     0.49

In [92]:
trunc = {'PTEN': .63, 'PIK3CA': .14}
t_df = pd.DataFrame.from_dict(trunc.items())
t_df.columns = ['Gene','percent_trunc']
t_df

     Gene  percent_trunc
0    PTEN           0.63
1  PIK3CA           0.14

In [95]:
mut = {'PTEN': 'SNP', 'PIK3CA': 'DEL'}
mutation = pd.DataFrame.from_dict(mut.items())
mutation.columns = ['Gene','Mutation']

In [115]:
s = t_df['percent_trunc']
p = new.join(mutation['Mutation'], how='left')
p

     Gene  percent Mutation
0    PTEN     0.79      SNP
1  PIK3CA     0.49      DEL

In [116]:
print(p)
mut = {'SNP': 'single nuc', 'DEL': 'deletion'}
p = p.replace(to_replace = mut)
#p = p.replace(to_replace = 'DEL', value = 'deletion')
print(p)

     Gene  percent Mutation
0    PTEN     0.79      SNP
1  PIK3CA     0.49      DEL
     Gene  percent    Mutation
0    PTEN     0.79  single nuc
1  PIK3CA     0.49    deletion

In [ ]:
'frameshift substitution'

In [78]:
merged_trunc = pd.merge(new, t_df,how='right', on='Gene')
merged_trunc

     Gene  percent  percent_trunc
0  PIK3CA     0.49           0.14
1       P      NaN           0.63

In [42]:
 #pd.concat([new, t_df], axis=1, inner)

In [51]:
#newer = new.set_index('Gene')

In [53]:
#new = new.set_index('Gene')
#new2 = new.join(t_df.set_index('Gene'), on='Gene')

      0       1
0  PTEN  PIK3CA
1  0.79    0.49